<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Create New User</h2>

    <form  method="post"  action="/user/add"  >
       Username:  <input type="text" name="username" require>   <br>
        E-mail : <input type="email" name="email" require ><br>
        Password : <input type="password" name="password" require >
        <button >  ADD  </button>
    </form>
    
</body>
</html>